<p style="color:@Color"> Author: Nazar Volianskyi, nr albumu: 120748, @DateTime.Now.Year </p>

@code {

    [Parameter]
    public string? Color { get; set; }
    
    

}
<img src="smile.png" style="width: 200px; height: auto;">