@page "/"

<h1>Welcome to my site</h1>
Student project: Nazar Volianskyi


<div style="padding-top:12px">
    <p>Data wersji: @DateTime.UtcNow.ToLocalTime().ToLongDateString()</p>
</div>
<footer>
    <Komponent Color="gray"/>
</footer>


